body {
    padding: 100px;
    /*background-image: url('https://phonoteka.org/uploads/posts/2021-04/1618959233_33-phonoteka_org-p-stilnii-gradient-fon-35.jpg');*/
    background-color: #191840;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Helvetica";

}